




<section class="perso" id="perso">
    <div class="container">
        <div class="row center-xs">
            <div class="col-md">
                <img id="imgPerso" src="img/test/perso.png" alt="idéogramme personnage">
                <h2 class="section-title">Personnages</h2>
                <p>Ils ecrivent les histoires futures</p>
            </div>
        </div>
    </div>

    <div class="padding-small">
        <div class="row margin-bottom-small">
            <div class="col-md-4">
                <div class="hover-outer-box">
                    <img src="img/construction.png">
                    <div class="hover-inner-box">
                        <div class="hover-content">
                            <h3>Caresse de Jade</h3>
                            <p>Femme fatale et alchimiste externe de renom</p>
                            <ul>
                                <li>Son nom : </li>
                                <li>Ses identités : </li>
                                <li>Ses traits : </li>
                                <li>Son trésor : </li>
                                <li>Son histoire : </li>
                            </ul>
                            <a href=""><button class="light">En savoir plus</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>