{% extends 'base.html.twig' %}

{% block title %}Accueil Wulin{% endblock %}

{% block body %}


{% include 'default/header.html.twig' %}


<div class="wrapper">
    <main>

        {% include 'default/characters.html.twig' %}


        <hr>

        {% include 'default/npcs.html.twig' %}

        <hr>

        {% include 'default/stories.html.twig' %}


        <hr>

        {% include 'default/schools.html.twig' %}

        <hr>

        {% include 'default/legends.html.twig' %}

    </main>
</div>
{% endblock %}
