<section class="leg" id="leg">
    <div class="container">
        <div class="row center-xs">
            <div class="col-md">
                <h2 class="section-title">Legendes</h2>
                <p>Ce qui se raconte depuis des temps immemoriaux et qui, parfois, s'oublie</p>
            </div>
        </div>
    </div>

</section>