<section class="pnj" id="pnj">
    <div class="container">
        <div class="row center-xs">
            <div class="col-md">
                <img id="imgPnj" src="img/test/pnj.png" alt="idéogramme pnj">
                <h2 class="section-title">Personnalites</h2>
                <p>Portraits de personnalites du Jiang Hu et d'ailleurs</p>
            </div>
        </div>
    </div>

    <h2>Villes</h2>
    <button type="button" class="collapsible">Wuxi</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>
    <button type="button" class="collapsible">Luoyang</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>
    <h2>Villages</h2>
    <button type="button" class="collapsible">Le Village du Matin Calme</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>
    <button type="button" class="collapsible">Village du Lac givré</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>
</section>