<section class="ecole" id="ecole">
    <div class="container">
        <div class="row center-xs">
            <div class="col-md">
                <img id="imgEcole" src="img/test/ecole.png" alt="idéogramme école">
                <h2 class="section-title">Ecoles</h2>
                <p>Oubliees ou alors simplement cachees</p>
            </div>
        </div>
    </div>

    <button type="button" class="collapsible">Ecole du Grand Taiji</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>
    <button type="button" class="collapsible">Ecole de la Voix Absolue</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>
    <button type="button" class="collapsible">Ecole de l'Astre de Givre</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>
</section>